<footer>
    <div class="ui inverted footer">
        <div class="ui container" style="padding-left: 1%; padding-top: 0.5%;">
            ArthurDev-A 2024. Todos os direitros reservados.
        </div>
    </div>
</footer>