<%- include('./partials/header') %>
    <main>
      <div class="ui segment">
        <h1><%= title %></h1>
        <p>Olá, meu nome é Arthur e sou estudante do Instituto Federal de Educação, Ciência e Tecnologia do Ceará (IFCE) - Campus Fortaleza. Atualmente, estou cursando o técnico em Informática, onde desenvolvo habilidades práticas e teóricas em programação, desenvolvimento web, bancos de dados e outras áreas da tecnologia.</p>
        <p>Além de programador, sou um amante da matemática! Admiro a lógica e a beleza dessa ciência, que me inspira a resolver problemas e a buscar soluções inovadoras tanto no mundo da programação quanto fora dele.</p>
        <p>Minha paixão por tecnologia e matemática se reflete nos projetos que desenvolvo, explorando linguagens como Python, Java e Dart, criando aplicações para dispositivos Apple com SwiftUI e trabalhando com bancos de dados SQL e desenvolvimento web.</p>
        <p>Acredito que a tecnologia e a matemática, têm o poder de transformar o mundo, e meu objetivo é continuar aprendendo e crescendo nessas áreas, sempre buscando novas soluções para problemas reais.</p>
        <p>Se quiser conhecer mais sobre meu trabalho, fique à vontade para visitar meu portfólio ou entrar em contato.</p>
      </div>
    </main>
    <%- include('./partials/footer') %>
  </body>
</html>