<%- include('./partials/header') %>
    <main>
      <div class="ui segment">
        <h1><%= title %></h1>
        <p>Caso queria entrar em contanto, mande email para o seguinte endereço:</p><br>
        <p>araujo.arthur61@aluno.ifce.edu.br</p>
      </div>
    </main>
    <%- include('./partials/footer') %>
  </body>
</html>