<%- include('./partials/header') %>
    <main>
      <div class="ui segment">
        <h1><%= title %></h1>
        <p>Bem-vindo ao meu portifólio, aqui você pode verificar projetos meus realionados a difersas áreas, como desenvolvimento web, Java, dispositivos apple (SwiftUI), Dart e bancos de dados SQL.</p>

        <h3>Web:</h3>
        <a href="https://github.com/ArthurDev-A/Atividades-Programacao-Web-I">https://github.com/ArthurDev-A/Atividades-Programacao-Web-I</a><br>
        <a href="https://github.com/ArthurDev-A/MP3-Player-N2-FundProg">https://github.com/ArthurDev-A/MP3-Player-N2-FundProg</a><br>
        <a href="https://github.com/ArthurDev-A/MP3-Player-N2-FundProgII">https://github.com/ArthurDev-A/MP3-Player-N2-FundProgII</a>
        <h3>Dispositivos Apple:</h3>
        <a href="https://github.com/ArthurDev-A/Curso-SwiftUI">https://github.com/ArthurDev-A/Curso-SwiftUI</a>
        <h3>Java:</h3>
        <a href="https://github.com/ArthurDev-A/Projeto_POO_Swing">https://github.com/ArthurDev-A/Projeto_POO_Swing</a><br>
        <a href="https://github.com/ArthurDev-A/DisciplinaPOO2023.2">https://github.com/ArthurDev-A/DisciplinaPOO2023.2</a>
        <h3>Dart:</h3>
        <a href="https://github.com/ArthurDev-A/pdm2-242">https://github.com/ArthurDev-A/pdm2-242</a>
        <h3>Banco de dados SQL</h3>
        <a href="https://github.com/ArthurDev-A/bd-info-241">https://github.com/ArthurDev-A/bd-info-241</a>
      </div>
    </main>
    <%- include('./partials/footer') %>
  </body>
</html>