<%- include('./partials/header') %>
    <main>
      <div class="ui segment">
        <h1><%= title %></h1>
        <h3>Bem vindo(a) <%= userid %>.</h3>
        <p>Aqui você encontrará informações sobre o usuário.</p>
      </div>
    </main>
    <%- include('./partials/footer') %>
  </body>
</html>